@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Certificado</h1>
    <form method="post" action="/Certificado/ValidarCertificado">
        <button type="submit">Entrar com Certificado Digital</button>
    </form>
</div>